body {
    background: #8bc0d0; /* Define a cor de fundo da página como um tom de azul claro */
}

header {
    text-align: center; /* Centraliza o conteúdo dentro do header */
    height: 275px; /* Define uma altura fixa para o header */
}

.logodonut { /* Estiliza a imagem da logo */
    display: inline-block; /* Permite que a logo fique ao lado de outros elementos */
    width: 260px; /* Define a largura da logo */
    padding-top: 1px; /* Adiciona um pequeno espaço acima da logo */
}

.menu-esquerda { /* Estiliza o elemento pai do menu à esquerda */
    display: inline-block; /* Permite que o menu fique ao lado de outros elementos */
}

.menu-esquerda a { /* Estiliza os links do menu à esquerda */
    color: white; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.menu-esquerda li { /* Estiliza os itens da lista do menu à esquerda */
    display: inline; /* Exibe os itens da lista em linha */
    position: relative; /* Define a posição como relativa para posicionamento futuro */
    margin: 0 0 0 50px; /* Adiciona uma margem esquerda de 50px */
    font-family: 'GothamBlack', Times, serif; /* Define a fonte dos itens do menu */
    padding-right: 50px; /* Adiciona espaço à direita de cada item do menu */
}

.menu-esquerda ul { /* Estiliza a lista desordenada do menu à esquerda */
    border: solid; /* Adiciona uma borda sólida à lista */
    border-color: white; /* Define a cor da borda como branca */
    border-left: 0px; /* Remove a borda esquerda */
    border-right: 0px; /* Remove a borda direita */
    padding-top: 5px; /* Adiciona espaço acima da lista */
    padding-bottom: 1px; /* Adiciona espaço abaixo da lista */
}

.menu-direita ul { /* Estiliza a lista desordenada do menu à direita */
    border: solid; /* Mesma configuração de borda do menu à esquerda */
    border-color: white; /* Borda branca */
    border-left: 0px; /* Remove a borda esquerda */
    border-right: 0px; /* Remove a borda direita */
    padding-top: 5px; /* Adiciona espaço acima da lista */
    padding-bottom: 1px; /* Adiciona espaço abaixo da lista */
}

.menu-direita { /* Estiliza o elemento pai do menu à direita */
    display: inline-block; /* Permite que o menu fique ao lado de outros elementos */
}

.menu-direita a { /* Estiliza os links do menu à direita */
    color: white; /* Define a cor dos links como branca */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.menu-direita li { /* Estiliza os itens da lista do menu à direita */
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 0 0 50px; /* Adiciona uma margem esquerda de 50px */
    font-family: 'GothamBlack', Times, serif; /* Define a fonte dos itens do menu */
    padding-right: 50px; /* Adiciona espaço à direita de cada item do menu */
}

.icones {
    text-align: right; /* Alinha o conteúdo dos ícones à direita */
    padding-right: 10%; /* Adiciona um espaço à direita */
}

.icones button {
    border: none; /* Remove a borda padrão dos botões */
    background-color: #8bc0d0; /* Define a cor de fundo dos botões */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    padding: 0px; /* Remove o preenchimento interno do botão */
}

@font-face { /* Adiciona fonte externa */
    font-family: 'GothamBlack'; /* Nome da fonte */
    src: url('GothamBlack.otf') format('opentype'); /* Localização do arquivo da fonte */
    font-weight: normal; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

@font-face { /* Adiciona fonte externa */
    font-family: 'Comfy Feeling'; /* Nome da fonte */
    src: url('Comfy Feeling.otf') format('opentype'); /* Localização do arquivo da fonte */
    font-weight: normal; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

.cadastro { /* Estiliza a seção de cadastro */
    background-color: #fdcd50; /* Define a cor de fundo da seção de cadastro */
    text-align: center; /* Centraliza o conteúdo da seção */
    position: absolute; /* Posiciona a seção de forma absoluta */
    left: 41.5%; /* Alinha a seção à esquerda a 41.5% da largura da tela */
    top: 30%; /* Alinha a seção a 30% da altura da tela */
    padding: 50px; /* Adiciona preenchimento interno de 50px */
    border-radius: 15px; /* Arredonda os cantos da seção */
}

.cadastro h1 { /* Estiliza o título dentro da seção de cadastro */
    font-family: 'GothamBlack', Times, serif; /* Define a fonte do título */
    color: white; /* Define a cor do texto como branca */
    font-size: 20px; /* Define o tamanho da fonte do título */
}

.cadastro input { /* Estiliza os campos de entrada na seção de cadastro */
    padding: 15px; /* Adiciona preenchimento interno de 15px */
    border: none; /* Remove a borda padrão dos campos */
    outline: none; /* Remove o contorno padrão ao focar no campo */
    font-size: 15px; /* Define o tamanho da fonte dos campos */
}

.cadastro button { /* Estiliza o botão na seção de cadastro */
    background-color: dodgerblue; /* Define a cor de fundo do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 15px; /* Adiciona preenchimento interno de 15px */
    width: 100%; /* Define a largura do botão como 100% do contêiner pai */
    border-radius: 10px; /* Arredonda os cantos do botão */
    color: white; /* Define a cor do texto do botão como branca */
    font-size: 30px; /* Define o tamanho da fonte do botão */
    font-family: 'Comfy Feeling', Times, serif; /* Define a fonte do botão */
}

.cadastro button:hover { /* Estiliza o botão ao passar o mouse */
    background-color: deepskyblue; /* Altera a cor de fundo ao passar o mouse */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
}

footer h1 { /* Estiliza o título dentro do rodapé */
    display: flex; /* Utiliza o modelo flexível para alinhar os itens */
    padding-left: 10%; /* Adiciona espaço à esquerda do título */
    padding-top: 27%; /* Adiciona espaço acima do título */
}
